// Global Imports
// ==========================================================================
// Global Variables and mixins
@import 'partials/variables';
@import 'partials/mixins';
// partials
@import 'partials/base';

/** Header **/
.header {
  nav {
    padding-top: 30px;
    .nav-item {
      color: $primary-link;
      text-transform: uppercase;
      padding: 10px 20px;

      .btn-login {
        border: 1px solid rgba(15, 124, 252, 0.2);
        border-radius: 10px;
        padding: 8px 22px;
      }
    }
  }
}


/* hero-component */
.hero-component {
  margin-top: 60px;

  &--subheading {
    font-weight: 300;
    line-height: 50px;
    font-size: 30px;
  }

  &--heading {
    font-weight: bold;
    line-height: 80px;
    font-size: 60px;

    span {
      box-shadow: inset 0 -30px 0 0 $yellow;
    }

  }

  &__links {
    margin-top: 50px;
    a {
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.25px;
      &:first-child {
        padding-right: 15px;
      }
    }
  }

  &--btn {
    margin-top: 60px;
    border-color: $danger;
    color: $danger;
  }

  &--card {

    @include xs {
      margin-top: 50px;
    }

    @include md {
      margin-top: 0;
    }

    background: url("../../assets/img/hero-card.svg") no-repeat center;
    min-height: 280px;
    position: relative;


    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
      line-height: 70px;
      font-size: 50px;
      color: $green;

      &:last-child {
        margin-top: 50px;
        line-height: 30px;
        font-size: 18px;
        letter-spacing: 0.25px;
      }
    }
  }

  &--notify {
    line-height: 20px;
    font-size: 14px;
    color: $green;
    opacity: 0.5;
    text-align: center;
    margin-top: 100px;
  }
}

/* Two column text CTA */
.two-column-tc {
  padding: 80px 0;

  h2 {
    font-weight: bold;
    line-height: 80px;

    @include xs {
      font-size: 3.2em;
    }
    @include md {
      font-size: 60px;
    }
  }

  p {
    line-height: 35px;
    font-size: 20px;
    letter-spacing: 0.25px;

    &:first-child {
      @include xs {
        margin-top: 30px;
      }

      margin-top: 0;
    }
  }

  .c-btn {
    border-color: $danger;
    color: $danger;
    margin-top: 320px;

    &:hover {
      color: $white;
    }
  }
}

/* footer component */
footer {
  background: $bg-dark;
  p {
    color: $white;
    opacity: 0.3;
    padding: 35px 0;
  }
}
