/* SCSS Mixins*/
/* -- Base Styles  ---------- */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #000000;
  text-align: left;
  font-style: normal;
  background-color: #fff;
}

a {
  color: #0F7CFC;
}

a.underline {
  text-decoration: underline;
}

.hide {
  display: none;
}

.c-btn {
  border-radius: 10px;
  padding: 12px 35px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/** Header **/
.header nav {
  padding-top: 30px;
}

.header nav .nav-item {
  color: #0F7CFC;
  text-transform: uppercase;
  padding: 10px 20px;
}

.header nav .nav-item .btn-login {
  border: 1px solid rgba(15, 124, 252, 0.2);
  border-radius: 10px;
  padding: 8px 22px;
}

/* hero-component */
.hero-component {
  margin-top: 60px;
}

.hero-component--subheading {
  font-weight: 300;
  line-height: 50px;
  font-size: 30px;
}

.hero-component--heading {
  font-weight: bold;
  line-height: 80px;
  font-size: 60px;
}

.hero-component--heading span {
  box-shadow: inset 0 -30px 0 0 #FFD200;
}

.hero-component__links {
  margin-top: 50px;
}

.hero-component__links a {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.25px;
}

.hero-component__links a:first-child {
  padding-right: 15px;
}

.hero-component--btn {
  margin-top: 60px;
  border-color: #FF005C;
  color: #FF005C;
}

.hero-component--card {
  background: url("../../assets/img/hero-card.svg") no-repeat center;
  min-height: 280px;
  position: relative;
}

@media (min-width: 320px) {
  .hero-component--card {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .hero-component--card {
    margin-top: 0;
  }
}

.hero-component--card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  line-height: 70px;
  font-size: 50px;
  color: #259F73;
}

.hero-component--card p:last-child {
  margin-top: 50px;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 0.25px;
}

.hero-component--notify {
  line-height: 20px;
  font-size: 14px;
  color: #259F73;
  opacity: 0.5;
  text-align: center;
  margin-top: 100px;
}

/* Two column text CTA */
.two-column-tc {
  padding: 80px 0;
}

.two-column-tc h2 {
  font-weight: bold;
  line-height: 80px;
}

@media (min-width: 320px) {
  .two-column-tc h2 {
    font-size: 3.2em;
  }
}

@media (min-width: 768px) {
  .two-column-tc h2 {
    font-size: 60px;
  }
}

.two-column-tc p {
  line-height: 35px;
  font-size: 20px;
  letter-spacing: 0.25px;
}

.two-column-tc p:first-child {
  margin-top: 0;
}

@media (min-width: 320px) {
  .two-column-tc p:first-child {
    margin-top: 30px;
  }
}

.two-column-tc .c-btn {
  border-color: #FF005C;
  color: #FF005C;
  margin-top: 320px;
}

.two-column-tc .c-btn:hover {
  color: #ffffff;
}

/* footer component */
footer {
  background: #000;
}

footer p {
  color: #ffffff;
  opacity: 0.3;
  padding: 35px 0;
}
