/* -- Base Styles  ---------- */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: $body-txt;
  text-align: left;
  font-style: normal;
  background-color: $body-bg;
}

a {
  color: $primary-link;

}

a.underline {
  text-decoration: underline;
}

.hide {
  display: none;
}

.c-btn {
  border-radius: 10px;
  padding: 12px 35px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
