// Descriptive color variables
$body-bg: #fff;
$body-txt: #000000;
$btn-primary: #ff8500;
$btn-primary-hover: #e67801;
$white: #ffffff;
$bg-dark: #000;
$bg-light: #e9ecef;
$border-primary: #e8e6e6;
$primary-link: #0F7CFC;
$yellow: #FFD200;
$danger: #FF005C;
$green: #259F73;

// Functional color variables

// Font stacks

// Asset paths

// Media query breakpoints
// Small smartphones
$screen-xs-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
